html, body {
    background: #fbfbfb;
}

h1 {
    color: #565656;font-weight: 700;font-size: 36px;margin-bottom: 18px;font-family: sans-serif;line-height: 42px;
}

p {
    margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;margin-bottom: 25px
}

.article h2 {
    Margin-top: 0;color: #565656;font-weight: normal;font-size: 52px;Margin-bottom: 22px;font-family: sans-serif;text-align: center;line-height: 58px;
}

.article p {
    margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 21px;line-height: 32px;margin-bottom: 32px;text-align: center
}

.four.columns h3 {
    margin-top: 0;color: #565656;font-weight: 700;font-size: 20px;margin-bottom: 12px;font-family: sans-serif;line-height: 26px
}

.row.box {
    background: #fff;
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
}

.row.box-first {
    border-top: 1px solid #ddd;
}
